@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --primary-color:rgb(255, 128, 82);
  --primary-dark:rgba(255,255,255,0);
  --primary-hover: horizontal-gradient(red, orange);
}
/*****************************NAVBAR******************************/
.navbar{
  z-index: 2;
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 17.25rem;
  color: var(--primary-color) !important;
  font-size: 2.5rem !important;
}

/*-----------Nav Links--------*/

nav a.nav-link{
  letter-spacing: 0.037rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-color) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-hover) !important; 
  text-shadow: 3px 3px 4px white !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-hover) !important; 
  text-shadow: 3px 3px 4px white !important;
}

/*****************************Header******************************/

.header-wrapper {
  position:relative;
  background: url(PB.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}

.main-info h1{
  color:var(--primary-color);
  text-transform:uppercase;
}

@media(max-width:768) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .navbar-brand {
    width: 7rem;
  }
}

/*.typed {
  font-size: 2rem;
}*/

/*-----------PARTICALS--------*/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;}

@media(max-width:768px) {
  .particles-canvas{
    display: none;
  }
}

